{{#if success_msg}}
    <div class="alert alert-success mensagens">
        {{success_msg}}
    </div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger mensagens">
        {{error_msg}}
    </div>
{{/if}}