{{>_navbar_sobre}}
<div class="titulo-superior">Sobre</div>
<div id="area-informacao">

    <div id="area-sobre">
        <div class="titulo">Criado por Bruno Cruz</div>
        <div class="mt-3">

            <strong>
                <p>1 - Coleta de informações</p>
            </strong>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Principal objetivo ao coletar informações pessoais é levar até
            você o melhor e mais útil conteúdo e serviços.

            Existem basicamente duas formas de coletar informações: por meio das interações com o
            site
            e dos dados fornecidos voluntariamente. Na primeira situação obter e arquivar estatísticas sobre as
            atividades, como, por exemplo, o tempo gasto em cada seção.

        </div>

        <div class="mt-3">
            <strong>
                <p>2 - Uso desses dados</p>
            </strong>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As informações genéricas para melhorar o site, veicular
            publicidade e
            oferecer alternativas de comércio. Além disso, os dados (tanto genéricos quanto pessoais) para melhorar
            sua experiência, oferecendo conteúdo e produtos que acreditamos ser relevantes para você.

            Os dados que compartilhamos com terceiros são apenas genéricos e agregados, provenientes das interações dos
            usuários com os sites.
        </div>
    </div>
</div>