{{>_navbar_inicio}}

<div class="titulo-superior">Todas as receita você encontra aqui</div>
{{>_msg}}

<div id="area-informacao">
    <div id="area-receita">
        <strong>
            Em andamento...
        </strong>
    </div>
</div>