{{>_navbar_inicio}}

<div class="titulo-superior">Todas as receita você encontra aqui</div>
{{>_msg}}

<div id="area-informacao">
    <div class="fundo-secundario">
        <div>
            <center>
            <strong>
                Olá, bem-vindo ao Receitas Tudo
                <br>
                Para mais infomações
            </strong>
            
            <form action="/user/baixar" method="POST">
                
                <button type="submit" class="baixar">
                    <strong>Download</strong>
                </button>
            </form>
            </center>
        </div>
        <hr>

        <div>
            <strong>
                Siga-nos nas redes sociais:
            </strong>
            {{>_social}}
        </div>

    </div>
</div>