{{>_navbar_inicio}}

<div class="titulo-superior">Todas as receita você encontra aqui</div>
{{>_msg}}

<div id="area-informacao">
    <div class="fundo-secundario">
        <div>
            <strong>
                Olá, bem-vindo ao Receitas Tudo
            </strong>
        </div>
        <hr>

        <div>
            Este é um simples site de receitas onde
            você pode aprender e ajudar outras pessoas
            a fazerem aquele famoso prato especial.
        </div>

        <div>
            <strong>
                Siga-nos nas redes sociais:
            </strong>
            {{>_social}}
        </div>

    </div>
</div>