{{>_navbar_lista}}

<div class="titulo-superior">Todas as receita você encontra aqui</div>

{{>_msg}}

<div id="area-informacao">
    <div>
        {{#each usuarios}}
        <div class="fundo-secundario">

            <form action="/user/usuarios/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="deletar">
                    <strong>Deletar</strong>
                </button>
            <div id="area-dados">
                <strong>
                    <span>{{nome}}&nbsp;~</span>
                    <span>{{formatDate date}}</span>
                </strong>
            </div>
            
            </form>
                
        </div>
        {{/each}}
    </div>
</div>