{{>_navbar_lista}}

<div class="titulo-superior">Todas as receita você encontra aqui</div>

{{>_msg}}

<div id="area-info">
    {{#each usuarios}}
    <div class="fundo-secu">
        <form action="/user/usuarios/deletar" method="POST">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="deletar">
                <strong>Deletar</strong>
            </button>
        <span class="titulo">{{nome}}</span>
    </div>

    </form>
    {{/each}}
</div>